<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Message">
            <id property="id" column="m_id" jdbcType="INTEGER"/>
            <result property="title" column="m_title" jdbcType="VARCHAR"/>
            <result property="content" column="m_content" jdbcType="VARCHAR"/>
            <result property="status" column="m_status" jdbcType="TINYINT"/>
            <result property="jump" column="m_jump" jdbcType="TINYINT"/>
            <result property="para" column="m_para" jdbcType="VARCHAR"/>
            <result property="type" column="m_type" jdbcType="SMALLINT"/>
            <result property="uId" column="u_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        m_id,m_title,m_content,
        m_status,m_jump,m_para,
        m_type,u_id
    </sql>
</mapper>
