<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.PhotoMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Photo">
            <id property="id" column="ph_id" jdbcType="INTEGER"/>
            <result property="url" column="ph_url" jdbcType="VARCHAR"/>
            <result property="pin_id" column="p_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ph_id,ph_url,p_id
    </sql>
    <insert id="insertAll">
        insert into photo (ph_id, ph_url, p_id)
        values (#{id,jdbcType=NUMERIC}, #{url,jdbcType=VARCHAR}, #{pin_id,jdbcType=NUMERIC})
    </insert>
    <select id="getPhotoUrlById" resultType="java.lang.String">
        select ph_url from photo where 1 = 0
        <if test='id > 0'>
            or p_id = #{id}
        </if>
    </select>
</mapper>
