<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.PinMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Pin">
            <id property="id" column="p_id" jdbcType="INTEGER"/>
            <result property="name" column="p_name" jdbcType="VARCHAR"/>
            <result property="lnglat" column="p_lnglat" jdbcType="VARCHAR"/>
            <result property="position" column="p_pos" jdbcType="VARCHAR"/>
            <result property="brief" column="p_brief" jdbcType="VARCHAR"/>
            <result property="type" column="p_type" jdbcType="INTEGER"/>
            <result property="openTime" column="p_openTime" jdbcType="VARCHAR"/>
            <result property="phone" column="p_phone" jdbcType="VARCHAR"/>
            <result property="visibility" column="p_visibility" jdbcType="INTEGER"/>
            <result property="user_id" column="u_id" jdbcType="INTEGER"/>
            <result property="forum_id" column="f_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        p_id,p_name,p_lnglat,p_pos,
        p_brief,p_type,p_openTime,
        p_visibility,p_phone,u_id,f_id
    </sql>
    <insert id="insertAll">
        insert into pin
        (p_id,p_name,p_lnglat,p_pos,p_brief,p_type,p_openTime,p_phone,p_visibility,u_id,f_id)
        values (#{id,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR}, #{lnglat,jdbcType=VARCHAR},
                #{position,jdbcType=VARCHAR}, #{brief,jdbcType=VARCHAR}, #{type,jdbcType=NUMERIC},
                #{openTime,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{visibility,jdbcType=NUMERIC},
                #{user_id,jdbcType=NUMERIC}, #{forum_id,jdbcType=NUMERIC})
    </insert>
    <update id="updateAll">
        update pin
        set p_name=#{name}, p_pos=#{position}, p_brief=#{brief},
            p_type=#{type}, p_openTime=#{openTime}, p_phone=#{phone},
            p_visibility=#{visibility}
        where p_id=#{id}
    </update>
    <delete id="deletePinById">
        delete from pin where p_id = #{id}
    </delete>
    <select id="searchAll" resultType="com.example.backend.domain.Pin" resultMap="BaseResultMap">
        select * from pin where 1 = 0
        <if test='searchContext != "null" and searchContext != ""'>
            or p_name like #{searchContext} and p_visibility = 1
            or p_brief like #{searchContext} and p_visibility = 1
            or p_name like #{searchContext} and u_id = #{id}
            or p_brief like #{searchContext} and u_id = #{id}
        </if>
    </select>
    <select id="getPinById" resultType="com.example.backend.domain.Pin" resultMap="BaseResultMap">
        select * from pin where 1 = 0
        <if test='id > 0'>
            or p_id = #{id}
        </if>
    </select>
    <select id="findMaxId" resultType="java.lang.Integer">
        select max(p_id) from pin
    </select>
    <select id="getAllByUser_id" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pin
        where
        u_id = #{user_id,jdbcType=NUMERIC}
    </select>
    <select id="getAllByUser_idOrVisibility" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pin
        where
        u_id = #{user_id,jdbcType=NUMERIC}
        OR p_visibility = #{visibility,jdbcType=NUMERIC}
    </select>
    <update id="updateVisibilityById">
        update pin
        set p_visibility = #{visibility,jdbcType=NUMERIC}
        where p_id = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
