<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.PinMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Pin">
            <id property="id" column="p_id" jdbcType="INTEGER"/>
            <result property="name" column="p_name" jdbcType="VARCHAR"/>
            <result property="position" column="p_pos" jdbcType="VARCHAR"/>
            <result property="brief" column="p_brief" jdbcType="VARCHAR"/>
            <result property="type" column="p_type" jdbcType="INTEGER"/>
            <result property="openTime" column="p_openTime" jdbcType="VARCHAR"/>
            <result property="phone" column="p_phone" jdbcType="VARCHAR"/>
            <result property="user_id" column="u_id" jdbcType="INTEGER"/>
            <result property="photo_id" column="ph_id" jdbcType="INTEGER"/>
            <result property="forum_id" column="f_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        p_id,p_name,p_pos,
        p_brief,p_type,p_openTime,
        p_phone,u_id,ph_id,
        f_id
    </sql>
    <insert id="insertAll">
        insert into pin
        (p_id,p_name,p_pos,p_brief,p_type,p_openTime,p_phone,u_id,ph_id,f_id)
        values (#{id,jdbcType=NUMERIC}, #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{brief,jdbcType=VARCHAR}, #{type,jdbcType=NUMERIC}, #{openTime,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{user_id,jdbcType=NUMERIC}, #{photo_id,jdbcType=NUMERIC},
                #{forum_id,jdbcType=NUMERIC})
    </insert>
    <update id="updateAll">
        update pin
        set p_name=#{name}, p_pos=#{position}, p_brief=#{brief},
            p_type=#{type}, p_openTime=#{openTime}, p_phone=#{phone}
        where p_id=#{id}
    </update>
    <select id="searchAll" resultType="com.example.backend.domain.Pin" resultMap="BaseResultMap">
        select * from pin where 1 = 0
        <if test='searchContext != "null" and searchContext != ""'>
            or p_name like '%${searchContext}%' or p_brief like '%${searchContext}%'
        </if>
    </select>
    <select id="getPinById" resultType="com.example.backend.domain.Pin" resultMap="BaseResultMap">
        select * from pin where 1 = 0
        <if test='id > 0'>
            or p_id = #{id}
        </if>
    </select>
</mapper>
