<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Post">
            <id property="id" column="post_id" jdbcType="INTEGER"/>
            <result property="title" column="post_title" jdbcType="VARCHAR"/>
            <result property="content" column="post_content" jdbcType="VARCHAR"/>
            <result property="visibility" column="post_visibility" jdbcType="INTEGER"/>
            <result property="tag" column="post_tag" jdbcType="INTEGER"/>
            <result property="thumbsUp" column="post_thumbs_up" jdbcType="INTEGER"/>
            <result property="visit" column="post_visit" jdbcType="INTEGER"/>
            <result property="floorNum" column="post_floor_num" jdbcType="INTEGER"/>
            <result property="pinIdStr" column="pin_id_str" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        post_id,post_title,post_content,
        post_visibility,post_tag,post_thumbs_up,
        post_visit,post_floor_num,pin_id_str,create_time,
        user_id
    </sql>
    <insert id="insertPost" >
        insert into post
        (post_id,post_title,post_content,
         post_visibility,post_tag,post_thumbs_up,
         post_visit,post_floor_num,
         pin_id_str,create_time,user_id)
        values (#{id,jdbcType=NUMERIC}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
                #{visibility,jdbcType=NUMERIC}, #{tag,jdbcType=NUMERIC}, #{thumbsUp,jdbcType=NUMERIC},
                #{visit,jdbcType=NUMERIC}, #{floorNum,jdbcType=NUMERIC},
                #{pinIdStr,jdbcType=NUMERIC}, #{createTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=NUMERIC})
    </insert>
    <update id="updatePost">
        update post
        set post_title=#{title}, post_content=#{content}, post_tag=#{tag}, pin_id_str=#{pinIdStr}
        where post_id = #{id}
    </update>
    <select id="getPostById" resultType="com.example.backend.domain.Post" resultMap="BaseResultMap">
        select * from post where 1 = 0
        <if test='id > 0'>
            or post_id = #{id}
        </if>
    </select>
    <select id="getPostsOrderTime" resultType="com.example.backend.domain.Post" resultMap="BaseResultMap">
        select * from post where 1 = 1
        <if test='type >= 0'>
            and post_tag = #{type}
        </if>
        order by create_time desc
    </select>
    <select id="searchPosts" resultType="com.example.backend.domain.Post" resultMap="BaseResultMap">
        select * from post where 1 = 0
        <if test='context != "null" and context != ""'>
            or post_title like #{context} and post_visibility = 1
        </if>
    </select>
    <delete id="deletePostById">
        delete from post where post_id = #{id}
    </delete>
    <insert id="setPostVisById">
        update post set post_visibility=#{visibility} where post_id = #{id}
    </insert>
</mapper>
