<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.TpinMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Tpin">
            <id property="id" column="tpin_id" jdbcType="INTEGER"/>
            <result property="pId" column="p_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        tpin_id,p_id
    </sql>
</mapper>
