<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.TpostMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.domain.Tpost">
            <id property="id" column="tpost_id" jdbcType="INTEGER"/>
            <result property="postId" column="post_id" jdbcType="INTEGER"/>
            <result property="reason" column="tpost_reason" jdbcType="VARCHAR"/>
            <result property="uId" column="u_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        tpost_id,post_id,tpost_reason,
        u_id
    </sql>
</mapper>
